<div [formGroup]="form" [ngSwitch]="question.controlType">
  <ion-item *ngSwitchCase="'textbox'">
    <ion-label floating [attr.for]="question.key">{{question.label}}</ion-label>
    <ion-input [formControlName]="question.key" [id]="question.key" [type]="question.type">
      <!--(change)=update('question.key')-->
      <!--[class.invalid]="!dispatchForm.controls.callLocationFacility.valid && (dispatchForm.controls.callLocationFacility.dirty || submitAttempt)">-->
    </ion-input>
  </ion-item>
  <ion-item *ngSwitchCase="'datebox'">
    <ion-label floating [attr.for]="question.key">{{question.label}}</ion-label>
    <ion-datetime [formControlName]="question.key" [id]="question.key" displayFormat="h:mm a MMM D, YYYY"
                  pickerFormat="h:mm a MMM, D YYYY" min="2016">

    </ion-datetime>
  </ion-item>
  <ion-item *ngSwitchCase="'dropdown'">
    <ion-label [attr.for]="question.key">{{question.label}}</ion-label>
    <ion-select [formControlName]="question.key" [id]="question.key" [multiple]="question.multiple">
      <ion-option *ngFor="let opt of question.options" [value]="opt.id">{{opt.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngSwitchCase="'button'" no-line>
    <button ion-button [name]="question.key" [id]="question.key" (click)=update()>
      {{question.label}}
    </button>
  </ion-item>

  <ion-item *ngSwitchCase="'toggle'">
    <ion-label [attr.for]="question.key">{{question.label}}</ion-label>
    <ion-toggle [formControlName]="question.key" [id]="question.key"></ion-toggle>
  </ion-item>

</div>
